<!DOCTYPE html>
<html>
<head>
    <title>Employee Registration</title>
</head>
<body>
    <h2>Employee Registration</h2>

    <form method="POST" enctype="multipart/form-data">

        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <label>Phone:</label><br>
        <input type="text" name="phone" required><br><br>

        <label>Alternate Phone:</label><br>
        <input type="text" name="alt_phone"><br><br>

        <label>Relation:</label><br>
        <input type="text" name="alt_relation"><br><br>

        <label>Address:</label><br>
        <textarea name="address"></textarea><br><br>

        <label>Photo:</label><br>
        <input type="file" name="photo"><br><br>

        <button type="submit">Register</button>
    </form>

</body>
</html>
